<!--h1>All Products - Bloise AWS NodeJS with AngularJS</h1-->
<!--div class="container">
    <div class="row"-->
        <!--ul>
            <li *ngFor="let product of products | async">
                {{product.title}} &emsp;&emsp; <span *ngIf="productId">id: {{productId}}</span>
            </li>
        </ul-->

    <div fxLayout="row wrap"> <!--class="md-grid" -->
        <!--div class="md-cell md-cell--12-col" *ngIf="!products" style="text-align: center;">
            Loading
        </div-->
        <material2-app-app fxFlex>loading ...</material2-app-app>
        <!--yo-mo-fo></yo-mo-fo-->
        <!--h2>{{errorMessage}}</h2-->
    </div>

