mat-sidenav-container.m2app-dark {
  background: black;
}

.app-content {
  padding: 20px;
}

.app-content mat-card {
  margin: 20px;
}

.shadowCard {
  z-index: 2;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
  border-right-style: inset;
}

.app-content mat-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

/*.card img {
    width: 100px;
    height: 150px;
}*/
.mdCardImg {
  width: 75px;
  height: 78px;
  margin: 1em;
  margin-top: 1em;
}

.mdCardImg2 {
  width: 70px;
  height: 78px;
  margin: 1em;
  margin-top: 0.75em;
}

.mdCertImg {
  width: 286px;
  height: 42px;
  margin: 0.5em;
  margin-top: 1.75em;
}

.mdCardImgInline {
  width: 100px;
  height: 62px;
  margin: 1em;
  margin-top: 1.5em;
}
.mdCardSmallDialogImg {
  width: 50px;
  height: 60px;
  margin: 1em;
  margin-top: 1em;
  margin-left: 3.5em;
}
mat-toolbar {
  /*background-color: blue !important;*/
}

.textBottom {
  position: relative;
  bottom: -0.25em;
}

.smallTextBottom {
  font-size: small;
  position: relative;
  bottom: -1em;
}

.iconBottom {
  position: relative;
  bottom: -0.25em;
}

.iconNearBottom {
  position: relative;
  padding-right: 0.25em;
  bottom: -0.15em;
  color: #ffcc00;
}

.iconWhite {
  position: relative;
  color: white;
  bottom: 0em;
  z-index: 5;
}

.buttonPositionTop {
  position: fixed;
  z-index: 5;
  margin-right: 20px;
  margin-bottom: 20px;
}

.cardPosition {
  z-index: 2;
}

*::-ms-backdrop, .iconWhite {
  position: relative;
  color: white;
  bottom: -0.25em;
}

.iconPositionHeader {
  position: relative;
  padding-right: 0.25em;
  padding-left: 0.15em;
  bottom: -0.15em;
  color: #ffcc00;
}

.iconYellow {
  color: #ffcc00;
}

.xxLargerFont {
  font-size: xx-large;
}

.largeFont {
  font-size: large;
}

.centerText {
  position: relative;
  left: 5em;
}

.bullet11 {
  font-family: "Times New Roman";
  font-size: 1.5em;
  padding: 0.25em;
}

.bigPositionHeader {
  font-size: 1.5em;
  font-weight: bold;
}

.tdTabed {
  margin-right: 2em;
}

.bullet11TopPadded {
  font-family: "Times New Roman";
  font-size: 1.5em;
  padding: 0.25em;
  padding-top: 1em;
  /*padding-left: 2em;
  text-indent: -2em;*/
}

ul {
  text-align: left;
}

.h1Indigo {
  color: indigo;
}

.h1Blue {
  color:#3f51b5;
}

.h1Underlined {
  width: 50em;
  text-decoration: underline;
}

.h1Italics {
  width: 35em;
  font-style: italic;
}

.centerIt {
  margin: auto;
  /*width: 50%;
  width: 5em;*/
  padding: 10px;
}

.centerIt2 {
  margin: auto;
  margin-top: 2em;
  width: 50%;
  width: 5em;
  padding: 10px;
}

.centerTopHeader {
  width: 12em;
  margin-left: -1.7em;
  margin-top: -1.7em;
}

.blueSpan {
  width: 17.5em;
  border: 1px solid blue;
  text-align: center;
  color: white;
  background-color: blue;
}

.inlineDiv {
  display: inline-block;
}

#container{width:100%;}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
#center{margin:0 auto;width:100px;}


.transparentProfilePic {
  content: url("../../../../public/images/VinceBloiseTransparent.png");
}

.transparentProfilePic2 {
  content: url("../../../../public/images/Profile_Pic_6-2022-2.png");
}

.certPic {
  content: url("../../../../public/images/AWS_Certified_Logo_294x230_Color.png");
}

/* ------------------fxLayout Example Styles----------------------- */
.containerX {
  border: solid 1px #b6b6b6;
}

.colorNested, .colored, .coloredContainerX {
  height:200px;
}

.box {
  border: solid 1px gray;
}

div.colored.box.nopad > div {
  padding: 0;
}

div.coloredContainerX > div, div.colorNested > div > div {
  padding: 8px;
  box-shadow: 0px 2px 5px 0 rgba(52, 47, 51, 0.63);
  opacity: 0.9;
  color: #fff;
  text-align: center;
}

div.coloredContainerX > div:nth-child(1), div.colorNested > div > div:nth-child(1) {
  background-color: #009688;
}

div.coloredContainerX > div:nth-child(2), div.colorNested > div > div:nth-child(2) {
  background-color: #3949ab;
}

div.coloredContainerX > div:nth-child(3), div.coloredChildren > div:nth-child(3), div.colorNested > div > div:nth-child(3) {
  background-color: #9c27b0;
}

div.coloredContainerX > div:nth-child(4), div.coloredChildren > div:nth-child(4), div.colorNested > div > div:nth-child(4) {
  background-color: #b08752;
}

div.coloredContainerX > div:nth-child(5), div.coloredChildren > div:nth-child(5), div.colorNested > div > div:nth-child(5) {
  background-color: #5ca6b0;
}

div.colored > div {
  padding: 8px;
  box-shadow: 0px 2px 5px 0 rgba(52, 47, 51, 0.63);
  opacity: 0.9;
  color: #fff;
  text-align: center;
}

div.colored > div:nth-child(1), .one {
  background-color: #009688;
}

div.colored > div:nth-child(2), .two {
  background-color: #3949ab;
}

div.colored > div:nth-child(3), .three {
  background-color: #9c27b0;
}


div.colored > div:nth-child(4), .four {
  background-color: #8bc34a;
}

div.colored > div:nth-child(5), .five {
  background-color: #03A9F4;
}

div.colored > div:nth-child(6), .six {
  background-color: #c9954e;
}

div.colored > div:nth-child(7), .seven {
  background-color: #FF5722;
}
/* ------------------End fxLayout Example Styles----------------------- */

/* stuff for dialog */
.App-buttons {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}

.App-buttons-mobile {
  font-size: x-small;
}

