<div fxLayout="row wrap">
    <mat-sidenav-container fxFlex [class.m2app-dark]="isDarkTheme">

          <mat-sidenav #sidenav mode="side" class="app-sidenav mat-elevation-z15" fxFlex style="border-right-style: none;">
              <table>
                  <tr>
                      <div *ngIf="currentPath == '/'"><td><span class="smallTextBottom"><a [routerLink]="['/1']" target="_top" style="color: blue"><i class="material-icons md-18 iconBottom">description</i>My Resume</a></span></td></div>
                      <div *ngIf="currentPath != '/'"><td><span class="smallTextBottom"><a [routerLink]="['/']" target="_top" style="color: blue"><i class="material-icons md-18 iconBottom">description</i>My Resume</a></span></td></div>
                  </tr>
                  <tr>
                      <div *ngIf="currentPath == '/personalInterests'"><td><span class="smallTextBottom"><a [routerLink]="['/2']" target="_top" style="color: blue"><i class="material-icons md-18 iconBottom">directions_bike</i>Personal Interests</a></span></td></div>
                      <div *ngIf="currentPath != '/personalInterests'"><td><span class="smallTextBottom"><a [routerLink]="['/personalInterests']" target="_top" style="color: blue"><i class="material-icons md-18 iconBottom">directions_bike</i>Personal Interests</a></span></td></div>
                  </tr>
              </table>
          </mat-sidenav>

            <mat-toolbar color="primary" style="height: 4em;">
                <button class="app-icon-button" (click)="sidenav.toggle()">
                  <i class="material-icons app-toolbar-menu">menu</i>
                </button>

                <img class="mdCardImg md-card-sm-image transparentProfilePic2">

                <span class="textBottom xxLargerFont">&nbsp;Vincent Bloise</span>

                <span class="app-toolbar-filler"></span>
                <span class="smallTextBottom"><i class="material-icons md-18 iconBottom">home</i>&nbsp;261 Swedesford Rd., Malvern, PA 19355&nbsp;<a href="tel:484-433-3269" style="color: white"><i class="material-icons md-18 iconBottom">phone_iphone</i>484-433-3269</a>
                    &nbsp;<a href="mailto:vbloise3@gmail.com?Subject=Resume" target="_top" style="color: white"><i class="material-icons md-18 iconBottom">email</i>vbloise3@gmail.com</a></span>
                <!--button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME    </button-->
            </mat-toolbar>


          <div class="app-content">

              <mat-card appearance="outlined" class="shadowCard">
                  <h1 class="h1Blue">Summary of Qualifications</h1>
                  <mat-card appearance="outlined">
                    <!--a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=9&t=c&d=2018-03-26&ci=AWS00385314"-->
                      <img class="mdCertImg certPic">
                    <!--/a-->
                      <ul>
                        <li class="bullet11"><a href="https://www.credly.com/badges/083b92c3-a925-44eb-8399-5ac00584a707/public_url">AWS Solutions Architect Professional – achieved November 4, 2022</a></li>
                        <li class="bullet11"><a href="https://www.credly.com/badges/e6a1b9c8-edc5-4321-8e9a-ea9c17de3799/public_url">AWS Certified Data Analytics Specialist – recertified November 17, 2023</a></li>
                        <li class="bullet11"><a href="https://www.credly.com/badges/0d22cdd1-0f46-4739-b051-ac1d2a534ce7/public_url">AWS Certified Machine Learning Specialist – recertified July 23, 2023</a></li>
                        <li class="bullet11"><a href="https://www.credly.com/badges/4d1a2508-cfd3-4f59-b63a-e4c6fad6c1e7/public_url">AWS Certified Developer – recertified July 9, 2022</a></li>
                        <li class="bullet11"><a href="https://www.credly.com/badges/f8aa3d32-6a8f-4a98-829c-25d41ed4cde2/public_url">AWS Certified Solutions Architect Associate – recertified November 4, 2022</a></li>
                          <li class="bullet11">Over 25 years in the Information Technology field including over 15 years in management roles</li>
                          <li class="bullet11">Strong leadership and communication skills with experience managing distributed, international teams that include off-shore resources</li>
                          <li class="bullet11">Leader of organizational improvement across IT and business units</li>
                          <li class="bullet11">Collaborative leader with skills to engage contributors from multiple IT and business units to solve technical and business problems</li>
                          <li class="bullet11">Staying on top of tech trends, I have maintained strong skills in Python, JavaScript, TypeScript, Angular, NodeJS, Java, AWS services, and Machine Learning including Generative AI Foundation Models from Anthropic, Hugging Face, and Amazon.</li>
                          <li class="bullet11">Proven attractor of top talent through mentoring and career coaching by supporting team members in developing their technical, business, and interpersonal professional skills.</li>
                      </ul>
                  </mat-card>
              </mat-card>

              <mat-card appearance="outlined" class="shadowCard">
                  <h1 class="h1Blue">Experience</h1>
                  <!--mat-card-- class="shadowCard">
                          <table>
                              <tr>
                                  <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">4/2000 - Present</span></td>
                                  <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_city</i>&nbsp;<span class="bigPositionHeader">Vanguard</span></td>
                                  <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">Valley Forge, PA</span></td>
                              </tr>
                          </table>
                      <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>Senior Manager, Software Development</h2>
                      <ul>
                              <li class="bullet11">
                                For the last 3 years I have been leading my development teams in moving our systems portfolio to the AWS cloud where we are taking advantage of many of the AWS services such as EC2, Serverless Architecture using Lambda and Step Functions, S3, RDS, DynamoDB, SNS, CloudFormation, SQS, and SageMaker.
                              </li>
                              <li class="bullet11">
                                Leader of leaders managing the teams that support Vanguard's Fund Financial Services business unit. I have responsibility for the systems teams that manage the Investment Book of Record (IBOR), Securities Lending, Collateral Management, Reconciliation, Investor Cash Management, and the Custodian Money Movement functions.
                              </li>
                              <li class="bullet11">
                                Manager responsible for implementing our cloud native CI/CD pipeline in AWS across the entire IT division. In this position, I have the responsibility to transform the entire development process from requirements elicitation to continuous delivery.
                              </li>
                              <li class="bullet11">
                                Leader introducing Machine Learning into the firm’s middle and back-office processing. Using Random Forest classification and Deep Learning techniques.
                              </li>
                              <li class="bullet11">
                                Leader of the firm’s “beyond budgeting” effort where I am championing the adoption of a streamlined IT funding process. Leading both senior business and IT executives in adopting this innovative way of planning our work.
                              </li>
                              <li class="bullet11">
                                Manager responsible for the global implementation of mutual fund portfolio trade management system across the firm’s regional trading sites in Pennsylvania, London, and Melbourne. Managed the teams that built the software allowing the firm’s portfolio managers to trade their fund assets 24 hours/day, 6 days/week using the “follow the sun” global trading model.
                              </li>
                              <li class="bullet11">
                                Managed the firm’s retail brokerage trade management system software and all relationships with global brokerage partners.
                              </li>
                              <li class="bullet11">
                                Responsible for managing large software development teams; managing relationships with business clients at the officer level, including technology officers, managing directors, and the chief technology officer.
                              </li>
                              <li class="bullet11">
                                Managed multiple vendor relationships, including contract negotiation.
                              </li>
                              <li class="bullet11">
                                Led staff that plans, designs, and builds components for all the firm’s web sites. Enabled consistent web application experience across firm’s web site portfolio through work in this position.
                              </li>
                      </ul>
                  </mat-card-->

                <mat-card appearance="outlined" class="shadowCard">
                  <table>
                    <tr>
                      <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">5/2022 - Present</span></td>
                      <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_city</i>&nbsp;<span class="bigPositionHeader">Amazon Web Services</span></td>
                      <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">Seattle, WA</span></td>
                    </tr>
                  </table>
                  <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>Solutions Architect Manager</h2>
                  <ul>
                    <li class="bullet11">
                      Leader in the World Wide Public Sector Non-Profit business unit of AWS responsible for the creation of strategic architectures for global financial and non-profit organizations.
                    </li>
                    <li class="bullet11">
                      Senior manager leading cloud architecture consulting to C-suite leaders at large financial and public sector customer organizations.
                    </li>
                    <li class="bullet11">
                      Senior Manager of Solutions Architects where I manage a team focusing on building solutions for customers using AWS cloud services and industry solutions in the Financial Services and World Wide Public Sector business of AWS.
                    </li>
                    <li class="bullet11">
                      In this role I lead and coach solutions architects on cloud adoption best practices, empower them to further develop their technical areas of depth as well as their communication, presentation, and strategic advisory skills.
                    </li>
                    <li class="bullet11">
                      In this role I also function as a Generative AI specialist where I advise customers on the use of foundation model fine tuning (including using LoRA) and prompt engineering to customize their foundation models for use in their specific business cases.
                    </li>
                  </ul>
                </mat-card>

                <mat-card appearance="outlined" class="shadowCard">
                        <table>
                            <tr>
                                <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">4/2000 - 5/2022</span></td>
                                <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_city</i>&nbsp;<span class="bigPositionHeader">Vanguard</span></td>
                                <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">Valley Forge, PA</span></td>
                            </tr>
                        </table>
                    <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>Senior Manager, Software Development</h2>
                    <ul>
                            <li class="bullet11">
                              Leader of the Retail Analytics Systems Department, Client Voices, and Conversational labs in Vanguard's Client Experience organization where I lead efforts leveraging AWS data analytics and machine learning services such as EMR, Glue, EventBridge, Lambda, ECS Fargate, SageMaker Studio, Athena, among others.
                            </li>
                            <li class="bullet11">
                              For the last 4 years I have been leading my development teams in moving our systems portfolio to the AWS cloud where we are taking advantage of many of the AWS services such as EC2, Serverless Architecture using Lambda and Step Functions, S3, RDS, DynamoDB, SNS, ECS Fargate, CloudFormation, SQS, and SageMaker.
                            </li>
                            <li class="bullet11">
                              Leader responsible for the creation of Vanguard’s Investment Operations data lake used to manage investment risk across the enterprise. Data lake implemented in AWS using EMR, Hive, Glue, Spark, and other data analytics tools/techniques.
                            </li>
                            <li class="bullet11">
                              Leader of leaders managing the teams that support Vanguard's Fund Financial Services business unit. I have responsibility for the systems teams that manage the Investment Book of Record (IBOR), Securities Lending, Collateral Management, Reconciliation, Investor Cash Management, and the Custodian Money Movement functions.
                            </li>
                            <li class="bullet11">
                              Manager responsible for implementing our cloud-native CI/CD pipeline in AWS across the entire IT division. In this position, I have the responsibility to transform the entire development process from requirements elicitation to continuous delivery.
                            </li>
                            <li class="bullet11">
                              Leader introducing Machine Learning into the firm’s middle and back-office processing, using the AWS built-in algorithms such as Random Forest classification and clustering techniques.
                            </li>
                            <li class="bullet11">
                              Leader of the firm’s “beyond budgeting” effort where I am championing the adoption of a streamlined IT funding process. Leading both senior business and IT executives in adopting this innovative way of planning our work.
                            </li>
                            <li class="bullet11">
                              Manager responsible for the global implementation of mutual fund portfolio trade management system across the firm’s regional trading sites in Pennsylvania, London, and Melbourne. Managed the teams that built the software allowing the firm’s portfolio managers to trade their fund assets 24 hours/day, 6 days/week using the “follow the sun” global trading model.
                            </li>
                            <li class="bullet11">
                              Managed the firm’s retail brokerage trade management system software and all relationships with global brokerage partners.
                            </li>
                            <li class="bullet11">
                              Responsible for managing large software development teams; managing relationships with business clients at the officer level, including technology officers, managing directors, and the chief technology officer.
                            </li>
                            <li class="bullet11">
                              Managed multiple vendor relationships, including contract negotiation.
                            </li>
                            <li class="bullet11">
                              Led staff that plans, designs, and builds components for all the firm’s web sites. Enabled consistent web application experience across firm’s web site portfolio through work in this position.
                            </li>
                    </ul>
                </mat-card>

                  <mat-card appearance="outlined" class="shadowCard">
                      <table>
                          <tr>
                              <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">8/1998 – 4/2000</span></td>
                              <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_city</i>&nbsp;<span class="bigPositionHeader">Merrill Lynch</span></td>
                              <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">Princeton, NJ</span></td>
                          </tr>
                      </table>
                      <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>IT Department Manager, Software Development</h2>
                      <ul>
                          <li class="bullet11">
                              Responsible for large program release planning and systems integration for retail brokerage client intelligence and trading systems.
                          </li>
                          <li class="bullet11">
                              Manager of large team of technical and business resources ranging in responsibility from senior designers to software developers and architects.
                          </li>
                          <li class="bullet11">
                              Led the development of a five-year software implementation plan to rewrite the retail client management, trading, record keeping, and statements systems for the Private Client group.
                          </li>
                      </ul>
                  </mat-card>

                  <mat-card appearance="outlined" class="shadowCard">
                      <table>
                          <tr>
                              <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">7/1987 – 8/1998</span></td>
                              <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_city</i>&nbsp;<span class="bigPositionHeader">IBM</span></td>
                              <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">New York, NY</span></td>
                          </tr>
                      </table>
                      <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>Systems Engineer, Software Consultant/Architect</h2>
                      <ul>
                          <li class="bullet11">
                              Responsible for technical marketing of mainframe hardware and software, software development consulting, system architecture consulting, and management of consulting resources.
                          </li>
                          <li class="bullet11">
                              Managed various consulting efforts as part of IBM’s Global Services consulting practice.
                          </li>
                          <li class="bullet11">
                              Led sales efforts to win large (> $100 Million) consulting efforts.
                          </li>
                          <li class="bullet11">
                              Managed the production of complex proposals for consulting engagement efforts.
                          </li>
                          <li class="bullet11">
                              Managed relationships with large New York metropolitan account base.
                          </li>
                          <li class="bullet11">
                              Worked in the following industries: financial services, telephony, media, entertainment, and government.
                          </li>
                      </ul>
                  </mat-card>
              </mat-card>

              <mat-card appearance="outlined" class="shadowCard">
                  <h1 class="h1Blue">Education</h1>
                  <mat-card appearance="outlined" class="shadowCard">
                      <table>
                          <tr>
                              <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">1984 - 1987</span></td>
                              <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">school</i>&nbsp;<span class="bigPositionHeader">Rutgers University</span></td>
                              <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">New Brunswick, NJ</span></td>
                          </tr>
                      </table>
                      <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>B.A. Computer Science</h2>
                      <ul>
                          <li class="bullet11">
                              Dean’s list the final 4 semesters of my studies.
                          </li>
                      </ul>
                  </mat-card>
              </mat-card>
          </div>
      <span class="app-action buttonPositionTop" [class.m2app-dark]="isDarkTheme">
        <button mat-fab style="background-color:#ffcc00;" (click)="openDialog()"><mat-icon class="material-icons md-18 iconWhite">mail outline</mat-icon></button>
    </span>
    </mat-sidenav-container>
</div>


